/* CURRENTLY IN: styles/main.css */

html {
	font-size: 10px;

}

a:hover { 
    color: yellow;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
.nav {
	background-color: black;
	border-bottom: solid yellow 2px;
	box-sizing: border-box;
	background-position: center;
}

.nav__logo {
	color: yellow;
	font-size: 3rem;
	padding: 1rem;
	float: left;
	font-family: Lucida Bright;
	font-weight: 800;
}

.navmain {
	float: right;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.navmain__copy {
	color: white;
	font-family: calibri;
	font-size: 1.6rem;
	padding-left: 1rem;
}
.navmain__bold {
	font-weight: normal;
	font-size: 1.8rem;
	font-family: impact;
}
.navmain__last {
	padding-right: 1rem;
}

.main {
	box-sizing: border-box;
	background-image: url(../images/coworking.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bar {
	background-color: #d3d3d3;
	width: 100%;
}

.bar__copy {
	font-size: 2.5rem;
	padding: 1rem;
	text-align: center;
	font-family: cambria;
	font-style: italic;
	font-weight: bold;
}

#slash {
	color: #A9A9A9;
	text-decoration: line-through;
}

#underline {
	border-bottom: yellow solid 3px;
}

.main__floating {
	color: black;
	width: 33%;
	min-height: 80%;
	float: right;
	margin: 2rem;
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
		
}

.copywrap {
	margin: 2rem;

}
.floatinghead {
	font-weight: 800;
	font-size: 2.4rem;
	font-family: calibri;
}

.floatingbody {
	font-size: 1.6rem;
	margin: 1rem 0;
	font-family: calibri;
	line-height: 2.4rem;
	font-weight: 400;
}

.button {
	margin: 0 auto;
	text-align: center;
}
.main__button {
	color: black;
	font-family: impact;
	font-weight: normal;
	font-size: 1.8rem;
	background-color: yellow;
	padding: .8rem 3rem;
	display: inline-block;
	border-radius: 5px;
	word-spacing: 3px;
}

.main__button:hover { 
    color: yellow;
    background-color: black;
}

.bottom {
	box-sizing: border-box;
}

.bottom__block {
	box-sizing: border-box;
	float: left;
	display: inline-block;
	width: 33.33%;
	border-right: 1px solid #d3d3d3;
	margin: 2rem 0;
	padding: 0 2rem;
}

.bottom__last {
	border-right: none;
}
.bottom__head {
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 1rem;
	font-family: cambria;

}

.bottom__copy {
	font-size: 1.6rem;
	line-height: 2rem;
	font-family: calibri;
	font-weight: 400;
}

.bottom__button {
	color: black;
	font-family: impact;
	font-weight: normal;
	font-size: 1.8rem;
	background-color: #d3d3d3;
	padding: .8rem;
	width: 100%;
	display: inline-block;
	margin-top: 1rem;
	letter-spacing: .3px;
	border-radius: 5px;
}

.bottom__button:hover {
	background-color: yellow;
}

.footer {
	background-color: black;
	font-size: 1.8rem;
	padding: 1.5rem;
	color: white;
	font-weight: 400;
	font-family: calibri; 
}

